.navbar{
    background: #00B4D8;
}

body, html{
    background: #CAF0F8;   
}
.colors{
    border: 1px solid black;
    width: 25px;
    height: 25px;
}

#white{
    background: white;
}
#turquois{
    background: turquoise;
}

